**/bin/
**/target/
**/.settings
**/.classpath
**/.project
**/test-output/
**/.springBeans
**/WebContent/
**/.dist
**/.idea
**/.iml
**/classes/

*.class

service-post/src/main/java/sjph/life/post/security/ResourceServerConfiguration.java

service-post/src/main/java/sjph/life/post/security/SecurityConfig.java
